<footer id="footer">
    <div class="footer__container font--regular">
        <div class="container__first-nav">
            <div class="first-nav__nav nav--contact font--thin">
                <div class="contact first-nav--title  font--medium">
                    Thông tin liên hệ
                </div>
                <div class="contact_container">
                    <a class="contact contact--hotline link" href="tel:#">
                        <span class="contact__icon material-symbols-outlined">call</span>
                        <span class="content content--bold">
                            Hotline :
                        </span>
                        <span class="content">
                            0898486184.
                        </span>
                    </a>
                    <a class="contact contact--phone link" href="tel:#">
                        <span class="contact__icon material-symbols-outlined">smartphone</span>
                        <span class="content content--bold">
                            Điện thoại :
                        </span>
                        <span class="content">
                            0898486184.
                        </span>
                    </a>
                    <a class="contact contact--email link" href="mailto:#">
                        <span class="contact__icon material-symbols-outlined">email</span>
                        <span class="content content--bold">
                            Email :
                        </span>
                        <span class="content">
                            lechautranphat@gmail.com.
                        </span>
                    </a>
                    <a class="contact contact--address link" href="https://goo.gl/maps/#">
                        <span class="contact__icon material-symbols-outlined">location_on</span>
                        <span class="content content--bold">
                            Địa chỉ :
                        </span>
                        <span class="content">
                            long long long long text 52/1 Bông Sao, Phường 05, Quận 08, Thành phố Hồ Chí Minh.
                        </span>
                    </a>
                </div>

            </div>
            <div class="first-nav__nav nav--rules">
                <div class="rules first-nav--title">
                    Điều khoản
                    <div class="subnav">
                        <a href="#" class="link">Điều khoản sử dụng</a>
                        <a href="#" class="link">Điều khoản bảo mật thông tin</a>
                    </div>
                </div>
                <div class="rules first-nav--title">
                    Trợ giúp
                    <div class="subnav">
                        <a href="#" class="link">Hướng dẫn sử dụng</a>
                        <a href="#" class="link">Liên hệ hỗ trợ</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container__end-nav">
            <span class="nav__copyright">
                © 2022 - Bản quyền thuộc về lechautranphat@gmail.com
            </span>
        </div>
    </div>
</footer>