
<!-- <header id="header" class="font--medium bg-animation">
    <div class="time-display font--regular">
    </div>
    <div class="header__btn btn--sign-up" title="Đăng ký">
        Đăng ký
    </div>
    <div class="header__btn btn--sign-in" title="Đăng nhập">
        Đăng nhập
    </div>
</header> -->