<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="shortcut icon" href="/assets/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0">
    <link rel="stylesheet" href="/assets/css/loginForm.css" type="text/css">
    <title>HOME</title>
</head>
<body cz-shortcut-listen="true" onload="App()">
    <%- include('header') %>
    <div id="main">
        <div class="main__welcome-title-bg">
            <div class="main__welcome-title-content">
                <div class="welcome-title__logo">
                    <div class="blur-1">
                        <div class="blur-2">
                            <div class="earth-logo"></div>
                        </div>
                    </div>
                </div>
                <div class="welcome-title__title">
                    <div class="title title--main font--medium">FINCO - Hệ thống thi trắc nghiệm và quản lý học sinh.</div>
                    <div class="title title--main font--medium time-display undisplay"></div>
                </div>
            </div>
        </div>
        <div class="main__container font--regular">
            <div class="container__about c1">
                <div class="about__title font--medium">finco là gì?</div>
                <p class="about__text">
                    FINCO - Là trang web quản lý-thi trắc nghiệm, phục vụ cho tổ chức, doanh nghiệp,
                     nhà trường, giáo viên muốn quản lý học sinh, sinh viên nhanh chóng và tiện ích.
                </p>
                <div class="title__card card__1">
                        <div class="title title--sub font--regular">
                            <img class="title__icon" src="/assets/imgs/edu-icon-4.png">
                            Học sinh quản lý thời gian và việc học mỗi ngày dễ dàng.
                        </div>
                        <div class="title title--sub font--regular">
                            <img class="title__icon" src="/assets/imgs/edu-icon-5.png">
                            Giáo viên có thể kiểm tra hoặc giúp đỡ học sinh của mình ngay trên Finco.
                        </div>
                        <div class="title title--sub font--regular">
                            <img class="title__icon" src="/assets/imgs/edu-icon-6.png">
                            Những đơn vị, tổ chức giáo dục, hay trường học không còn lo lắng về việc quản lý những học sinh của mình!
                        </div>
                        <div class="title title--sub font--regular">
                            <img class="title__icon" src="/assets/imgs/edu-icon-2.png">
                            Các chức năng tiết kiệm nhiều thời gian, phục vụ cho việc học tập hơn.
                        </div>
                    </div>
                    <div class="title__card card__2 undisplay">
                        <div class="title title--sub font--regular">
                            <img class="title__icon" src="/assets/imgs/edu-icon-3.png">
                            Có hệ thống ngân hàng đề thi, sách, tài liệu được cập nhật mới mỗi ngày!
                        </div>
                    </div>
            </div>
            <div class="container__about c2">
                <div class="about__img img--size">
                    <img src="https://wallpaperaccess.com/full/2472432.jpg" class="img--size">
                </div>
                <div class="about--right">
                    <div class="about__title font--medium">example title right.</div>
                    <p class="about__text">
                        - Very long long long long long long long long long long long long long long example text.
                    </p>
                </div>
            </div>
            <div class="container__about c3">
                <div class="about__img img--size">
                    <img src="#" class="img--size">
                </div>
                <div class="about--left">
                    <div class="about__title font--medium">example title left.</div>
                    <p class="about__text">
                        - Very long long long long long long long long long long long long long long example text.
                    </p>
                </div>
            </div>
            <div class="container__about c4">
                <div class="about__img img--size">
                    <img src="#" class="img--size">
                </div>
                <div class="about--right">
                    <div class="about__title font--medium">example title right.</div>
                    <p class="about__text">
                        - Very long long long long long long long long long long long long long long example text.
                    </p>
                </div>
            </div>
            <div class="container__about c5">
                <div class="about__img img--size">
                    <img src="#" class="img--size">
                </div>
                <div class="about--left">
                    <div class="about__title font--medium">example title left.</div>
                    <p class="about__text">
                        - Very long long long long long long long long long long long long long long example text.
                    </p>
                </div>
            </div>
            <div class="container__about c6">
                <div class="about__img img--size">
                    <img src="#" class="img--size">
                </div>
                <div class="about--right">
                    <div class="about__title font--medium">example title right.</div>
                    <p class="about__text">
                        - Very long long long long long long long long long long long long long long example text.
                    </p>
                </div>
            </div>
            <div class="container__about c7">
                <div class="about__img img--size">
                    <img src="#" class="img--size">
                </div>
                <div class="about--left">
                    <div class="about__title font--medium">example title left.</div>
                    <p class="about__text">
                        - Very long long long long long long long long long long long long long long example text.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <%- include ('footer') %>
    <script src="/assets/js/form.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/V1.0.js"></script>
</body></html>